.item1 {
  background: url(./img/01.jpg) center no-repeat;
  background-size: cover;
}

.item2 {
  background: url(./img/02.jpg) center no-repeat;
  background-size: cover;
}

.item3 {
  background: url(./img/03.jpg) center no-repeat;
  background-size: cover;
}

.item4 {
  background: url(./img/04.jpg) center no-repeat;
  background-size: cover;
}

.item5 {
  background: url(./img/05.jpg) center no-repeat;
  background-size: cover;
}